In [1]:
#HIDE
try:
    import setup
except:
    pass
from notebook_helper import *
notebook_setup()
from modules import la

In [2]:
df = pd.read_csv(Path("data", "source", "PCD_OA_LSOA_MSOA_LAD_FEB20_UK_LU.csv"), usecols=["lsoa11cd", "ladcd"] )
df = df[~df["ladcd"].isna()]
df = df[~df["ladcd"].isin(["L99999999", "M99999999"])]
df = df.la.create_code_column(from_type="gss",source_col="ladcd" )
df["local-authority-code"] = df["local-authority-code"].la.update_authority_codes()

df

          lsoa11cd      ladcd local-authority-code
0        S01006514  S12000033                  ABE
1        S01006514  S12000033                  ABE
2        S01006514  S12000033                  ABE
3        S01006853  S12000034                  ABD
4        S01006511  S12000033                  ABE
...            ...        ...                  ...
2640511  S01012387  S12000027                  ZET
2640512  S01012387  S12000027                  ZET
2640513  S01012387  S12000027                  ZET
2640514  S01012387  S12000027                  ZET
2640515  S01012387  S12000027                  ZET

[2617595 rows x 3 columns]

In [36]:
lsoa_to_lad = df.reset_index().pivot_table("index", index=["lsoa11cd", "local-authority-code"], aggfunc="count").reset_index()
lsoa_to_lad = lsoa_to_lad.sort_values("index", ascending=False)
lsoa_to_lad = lsoa_to_lad[~lsoa_to_lad["lsoa11cd"].duplicated(keep="first")]
lsoa_to_lad = lsoa_to_lad.drop(columns=["index"]).rename(columns={"lsoa11cd": "lsoa"}).sort_values("lsoa")
lsoa_to_lad.to_csv(Path("data", "source", "lsoa_la_2021.csv"), index=False)